body{
    
    margin: 0 0 100px;
}
header{
    background-color: black;
}
header nav{
    text-align: center;
    display: inline-block;
}

.nav{
    display:inline-flex;
    
}
.nav-link{
    color: white;
}
header .login{
    text-align: right;
    margin-right: auto;
    margin-left: auto;
}
.imgProd{
    position: relative;
}
.text-block{
    position: absolute;
    bottom: 100px;
    right: 120px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.imgProd img{
    width: 70%;
    height: 70%;
}
footer nav{
    text-align:right;
    display: inline-block;
}
footer h4{
    text-align:right;
}
html {
    position: relative;
    min-height: 100%;
}
footer {
   
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
h4{
    font-size: 14px;
    color: whitesmoke;
}
.btn{
    background-color: green;
    border-color:green;
}
.btn:hover{
    background-color:rgb(33, 175, 33);
    border-color:rgb(33, 175, 33);
   
}